<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="shop.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>'
</head>
<body>
    <div class="main">

        <header class="Shop">
            <img class="imagelogo"src="images\image-removebg-preview.png" alt="image">
            <div class="title">
            <h1 >Petshop</h1>
        </div>
        
        <nav class="nav">
            <ul>
                <a href="index.html">Home</a>
                <a href="about.html">About Us</a>
                <a href="Shop.html">Shop</a>
                <a href="login.html">Log in</a>
            </ul>
        </nav>
        
    </header>
    <div class="container">
        <div id="root">
            <script src="addtocart.js"></script>
        </div>
        <div class="carts">
            <div class="sidebar">
                <div class="head">
              <p>My cart</p>
                   </div>    
            </div>
            <div id="cartItem" style="margin-bottom: 25px;"> Your cart is empty</div>
            <div class="foot">
                <h3>Total</h3>
                <h2 id="total">$0.00</h2>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    displaycart()
    async function displaycart() {
    let j = 0;
    const response = await axios.get("http://localhost:8080/cart");
    const getCart = response.data;
    let total = getCart.map((item) => item.price).reduce((a, c) => a + c);
    if (getCart.length == 0) {
        document.getElementById("cartItem").innerHTML = "Your cart is empty";
        document.getElementById("total").innerHTML = "$" + 0;
    } else {
        document.getElementById("cartItem").innerHTML = getCart
        .map((items) => {
            document.getElementById("total").innerHTML = "$" + total;
            return (
            `<div class='cart-item' style="gap:25px; display:flex; flex-direction:row">

                    <p style-'font-size:12px;'>${items.product_name}</p>
                    <h2 style='font-size: 15px;'>${items.price}</h2>` +
            "<button style='background-color: red; height:25px;' onclick='delElement(" +
            j++ +
            ")'>Remove</button></div>"
            );
        })
        .join("");
    }
    }
</script>
</body>
</html>